*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 80px;
    background-color: rgb(162, 255, 252);
    color: rgb(21, 74, 76);
    text-shadow: 4px 4px 8px;
    font-size: 50px;
}
h1>p{
    font-size: 15px;
}
body{
    background-color: rgb(250, 255, 210);
}
#main{
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;
}
#main>*, #button{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    text-align: center;
}
#main p{
    font-size: 20px;
    font-weight: bold;
}
#main-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#button{
    cursor: pointer;
    background-color: aquamarine;
    border-style: none;
    border-radius: 5px;
    box-shadow: 4px 4px 7px;
    font-weight: bold;
    color: rgb(16, 57, 43);
    width: 30%;
}
#button:hover{
    box-shadow: 2px 2px 5px;
}
#answer{
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
#p-1{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0px;
    font-weight: bold;
}
@media all and (min-width:480px) and (max-width:820px){
    h1{
        font-size: 42px;
        padding : 65px
    }
    #main{
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin: auto;
    }
    #main>*, #button{
        font-size: 17px;
    }
    #button{
        width: 40%;
    }
    #answer{
        font-size: 17px;
    }
    #main p{
        font-size: 22px;
    }
    #p-1{
        font-size: 25px;
    }
}
@media all and (min-width:620px) and (max-width:820px){
    #answer{
        font-size: 23px;
    }
}
@media all and (max-width:480px){
    h1{
        font-size: 30px;
        padding: 50px;
    }
    h1>p{
        font-size: 12px;
    }
    #main{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: auto;
        padding: 10px;
    }
    #main>*, #button{
        font-size: 15px;
        padding: 7px;
    }
    #button{
        width: 60%;
    }
    #answer{
        font-size: 18px;
        padding: 16px;
    }
    #main p{
        font-size: 19px;
        padding: 7px;
    }
    #p-1{
        font-size: 20px;
    }
}
